<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello from Mars!</h1>
    <p>To make use of PostgrsSQL database in django application, install:</p>

    <p>"pip install psycopg2-binary"</p>
    use instead:
    <hr />
    <p>pip install --only-binary :all: psycopg2-binary</p>
    <hr />
    <p>Then install "pip install dj-database-url"</p>
    <hr />
    <p>"pip install django-environ"</p>
    <hr />
    <p>"pip install gunicorn"</p>
    <hr />
    <p>"pip freeze > requirements.txt"</p>

    <br />
  </body>
</html>
